@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 94px;

    &__list {
      display: flex;
      margin-left: -30px;
      margin-top: -30px;
    }
   
    &__item {
      max-width: 370px;
      max-height: 294px;
      flex-basis: calc((100% -3 * 30px) / 3);
      margin-top: 30px;
      margin-left: 30px;
      position: relative;
    }

    &__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(47, 48, 58, 0.8);
      padding-top: 27px;
      padding-right: 82px;
      padding-bottom: 27px;
      padding-left: 82px;
      width: 100%;
    }

  
  }
}
