.team {
  background: #f5f4fa;
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
    &__item {
      max-width: 450px;
      max-height: 622px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
    }
  }
  @media screen and (max-width: 767px) {
    &__item {
      @media screen and (min-width: 768px) {
        max-width: 354px;
        max-height: 536px;
      }
    }
  }
}

.team__list {
  margin-left: -30px;
}
.team__box {
  text-align: center;
  padding: 30px 32px;
}

.team__title {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.team__item {
  background-color: #ffffff;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-color);
}

.team-social__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: var(--background-color-change);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .icon-social,
  &:focus .icon-social {
    fill: var(--white-color);
  }
}

.section-our-team__icon-style {
  transition: var(--fill-change);
}

.team__position {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--gray-color);
  margin-bottom: 16px;
}
