.customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  transition: var(--border-color-change);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover .customers__icon,
  &:focus .customers__icon {
    fill: var(--accent-color);
  }
}

.customers__list {
  display: flex;
}

.customers__item {
  width: 170px;
  height: 90px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.customers__icon {
  fill: #afb1b8;
  transition: var(--fill-change);
}
