
@media screen and (min-width: 1200px) {

.logo__text-style {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
  
}
}
.logo__logo-white {
  color: var(--black-color);
}
.footer-info__logo-dark {
  color: var(--white-color);
}
