:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --secondary-color: #212121;
  --white-color: #ffffff;
  --black-color: #000000;
  --background-color:#2f303a;
  --gray-color: #757575;
  --icon-basic-color: #afb1b8;
   --letter-spacing: 0.03em;
   --form-letter-spacing: 0.01em;
   --hero-title-letter-spacing: 0.06em;
   --main-links-letter-spacing: 0.02em;
  --color-change: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill-change: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --background-color-change: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-color-change: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}